@model IEnumerable<TranscriptionData>

@{
    ViewData["Title"] = "Transcripts";
}

<h1>Transcripts</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            Project Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            Original Filename
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            Speakers
        </th>
        <th>
            @Html.DisplayNameFor(m => m.Confidence)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(@item.ProjectName, "TranscriptsForProject", new { projectName = item.ProjectName })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OriginalFilename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(m => item.SpeakerCount)
        </td>
        <td>
            @Html.DisplayFor(m => item.Confidence)
        </td>
        <td>
            @Html.ActionLink("View Transcript", "ViewTranscript", new { videoId = item.id }) |
            @Html.ActionLink("Download", "DownloadTranscript", new { videoId = item.id })
        </td>
    </tr>
}
    </tbody>
</table>
