@model VideoTranscriber.ViewModels.ViewTranscriptViewModel
@{
    ViewData["Title"] = "View Transcript";
}

<div class="text-center">
    <h2 class="display-4">Transcript for @Model.Filename</h2>
</div>
<div>
    @Html.ActionLink("Download", "DownloadTranscript", new { videoId = Model.VideoId })
</div>
<div>
    @Html.ActionLink("Edit Speakers", "EditSpeakers", new { videoId = Model.VideoId })
</div>
<div>
    <h3>Language: @Model.Language </h3>
</div>
<div>
    Keywords: @string.Join(", ", Model.Keywords)
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Start Time</th>
            <th>Speaker</th>
            <th></th>
            <th>Confidence</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.Transcript.OrderBy(t => t.Id))
        {
            <tr>
                <td>@element.StartTimeIndex</td>
                <td>@Model.Speakers.First(s => s.Id == element.SpeakerId).Name</td>
                <td>@element.Text</td>
                <td>@element.Confidence</td>
            </tr>
        }
    </tbody>
</table>